[submodule "3rdparty/nats.c"]
	path = 3rdparty/nats.c
	url = git@github.com:nats-io/nats.c.git
[submodule "3rdparty/protobuf-c"]
	path = 3rdparty/protobuf-c
	url = git@github.com:protobuf-c/protobuf-c.git
